- var datas = [{item:'Полное ФИО', content:'Сухопарова Анна Сергеевна', id:'name'}, {item:'Год рождения', content:'1989', id:'year'}, {item:'Место жительства', content:'г. Москва, Россия', id:'address'}, {item:'Скайп', content:'apelsinovi4', id:'skype'}, {item:'Почта', content:'apelsann@ya.ru', id:'email'}]
- var skills1 = [{item:'bam', content:'Методология БЭМ'}, {item:'jQ', content:'jQuery'}, {item:'grunt', content:'Использую GRUNT'}, {item:'haml', content:'HAML'}, {item:'sass', content:'SASS'}, {item:'less', content:'LESS'}, {item:'coffee', content:'CoffeeScript'}]
- var skills2 = [{item:'jade', content:'Jade'}, {item:'styl', content:'Stylus'}, {item:'ang', content:'Знаю (изучаю) Angular'}, {item:'andr', content:'Верстка под Android'}, {item:'ios', content:'Верстка под iOS'}, {item:'win', content:'Верстка под Windows Phone'}]
 - var skills3 = [{item:'mail', content:'Верстка рассылок'}, {item:'adapt', content:'Адаптивная верстка'}, {item:'drop', content:'Использую Dropbox'}, {item:'gmail', content:'Использую Gmail'}, {item:'git', content:'Использую GitHub'}]
 - var skills = [skills1, skills2, skills3]
 
